@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');
                
body{
    font-family: 'TT Firs Neue Trl', sans-serif;
}

.order_div{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9F9F9;
}

.order_div_photo{
    width: 450px;
}
.order_div_text{
    width: 600px;
}

.order_h1{
    font-family: 'TT Firs Neue Trl', sans-serif;
    color: black;
}

.order_p{
    font-size: 17px;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

.order_div_ul{
    padding-right: 15px;
}
.order_ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px 32px;
}   

.order_now_button{
    border-radius: 8px;
    height: 56px;
    font-weight: 500;
    font-size: 17px;
    line-height: 56px;
    text-align: center;
    transition: 0.2s;
    width: 300px;
    margin: 5px;
    background-color: #FFC72C;
    border: none;
    color: black;
}
.order_now_button2{
    border-radius: 8px;
    height: 56px;
    font-weight: 500;
    font-size: 17px;
    line-height: 56px;
    text-align: center;
    transition: 0.2s;
    width: 300px;
    margin: 5px;
    background-color: white;
    border: 2px solid black;
    color: black;
    vertical-align: middle
}

.order_now_button2:hover{
    background-color: black;
    color: white;
}

.button_order{
    display: flex;
}

.h_cashback{
    padding-top: 100px;
}

.title_cash{
    text-align: center;
}

.circle_market{
    display: inline-block;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    border: 4px solid #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 56px;
    color: #000;
    background-color: #FFC72C;
    border-radius: 50%;
    margin: 0 0 0 -12px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: 'TT Firs Neue Trl', sans-serif;
    
}
.img_market{
    display: inline-block;
}



.all_four_boxes h3{
    padding: 0 0 16px;
    font-size: 17px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: -0.408px;
    color: #000;
    font-family: 'TT Firs Neue Trl', sans-serif;
}


.all_four_boxes p{
    font-size: 13px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: -0.078px;
    color: #939393;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

.cashback_boxes{
    padding: 48px 32px;
    box-shadow: inset 0 0 0 2px #6CC24A;
    border-radius: 8px;
    width: 250px;
}
.cashback_boxes_2{
    padding: 48px 32px;
    box-shadow: inset 0 0 0 2px #7879F1;
    border-radius: 8px;
    width: 250px;
}
.cashback_boxes_3{
    padding: 48px 32px;
    box-shadow: inset 0 0 0 2px #0072CE;
    border-radius: 8px;
    width: 250px;
}
.cashback_boxes_4{
    padding: 48px 32px;
    box-shadow: inset 0 0 0 2px #FF9E1F;
    border-radius: 8px;
    width: 250px;
}

.all_four_boxes{
    display: flex;
    justify-content: space-evenly   ;
}

.cashback_market{
    text-align: center;
}

.additional_information{
    padding: 64px 0 0;
}

.additional_information h2{
    padding: 0 0 20px;
    font-size: 40px;
    line-height: 1.4;
    text-align: center;
    color: black;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

.info_cashback{
    padding: 40px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
}

.info_cashback h3{
    padding: 0 0 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.408px;
    color: #000;
    font-family: 'TT Firs Neue Trl', sans-serif;
}
.info_cashback p{
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: -0.078px;
    color: #939393;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

.yelo_card_app{
    background-color: #f9f9f9;
    padding-bottom: 60px;
    padding-top: 50px;
}

.yelo_card_txt{
    max-width: 660px;
    margin: 0 auto;
}

.yelo_card_txt h2{
    padding: 0 0 36px;
    font-size: 32px;
    line-height: 1.75;
    color: black;
    font-family: 'TT Firs Neue Trl', sans-serif;
    text-align: center;
}

.yelo_card_img{
    max-width: 660px;
    margin: 0 auto 36px;
    text-align: center;
    position: relative;
}

.yelo_card_img span{
    display: inline-block;
    padding: 0 36px;
    background-color: #f9f9f9;
    position: relative;
}

.yelo_card_img img{
    width: 67px;
}

.yelo_card_img::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
}

.uni_input{
    padding: 0 0 24px;
}

.uni_input label{
    display: block;
    position: relative;
}

.uni_input select{
    display: block;
    width: 100%;
    height: 64px;
    padding: 0 16px;
    background: #fff;
    border: 1px solid #EAEAEA;
    font-size: 17px;
    color: black;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) 50%;
    background-image: url('../img/download.svg');
}

.uni_input label > span{
    font-size: 17px;
    line-height: 1.33;
    letter-spacing: -0.408px;
    color: #ccc;
    pointer-events: none;
    position: absolute;
    left: 16px;
    top: 20px;
    transition: 0.2s 
    cubic-bezier(0.39, 0.575, 0.565, 1);
}

.two_input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 24px 24px;
}

.order_from{
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 0 0 ;
}

.order_from.no_padding{
    padding-top: 0;
}

.from_self{
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding: 30px 0 0;
}

.from_self.no_border{
    border: none;
    padding-top: 0;
}

input, select, button{
    outline: none;
    box-sizing: border-box;
    font-family: 'TT Firs Neue Trl', sans-serif;
    appearance: none;
}

.fs_inner{
    max-width: 600px;
    margin: 0 auto;
}

.uni_input input{
    display: block;
    width: 100%;
    height: 64px;
    padding: 0 16px;
    background: #fff;
    border: 1px solid #EAEAEA;
    font-size: 17px;
    color: #000;
    border-radius: 8px;
}

.uni_input input:focus + span {
  transform: translateY(-1.5rem) scale(0.8);
}

.info_block{
    margin: 0 0 24px;
    text-align: left;
    padding: 12px 12px 8px 54px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 198, 40, .1);
    position: relative;
    border-radius: 12px;
}

.info_block.gray{
    padding: 12px 12px 8px 64px;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: -0.078px;
    color: #303030;
    background-color: rgba(211, 217, 214, 0.1);
    box-shadow: inset 0 0 0 1px rgba(150, 150, 150, 1);
}

.info_block::before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../img/download\ \(1\).svg);
    position: absolute;
    left: 16px;
    top:16px;
    opacity: 0.6;
}

.devider_h3{
    margin: 0 0 24px;
    text-align: center;
    position: relative;
}

.devider_h3 span{
    display: inline-block;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.33;
    color: #939393;
    background-color: #f9f9f9;
    position: relative;
}

.devider_h3::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 68%;
}

.card_form h4{
    padding: 0 0 8px;
    font-size: 14px;
    line-height: 1.33;
    color: #939393;
}

.one_check{
    padding: 0 0 16px;
    text-align: left;
}

.one_check label{
    display: block;
    position: relative;
    padding: 0 0 0 36px;
    cursor: pointer;
}

.one_check input{
    display: none;
}

.one_check em{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    left: 0;
    top: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0, .2);
    border-radius: 50%;
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.one_check input:checked + em{
    box-shadow: inset 0 0 0 1px rgba(0,0,0, 0);
    background-image: url(../img/download\ \(2\).svg);
}

.one_check span{
    font-size: 14px;
    line-height: 1.33;
    color: #939393;
}

.order_form
.yelo_bttn{
    width: 100%;
}

.yelo_bttn{
    height: 55px;
    border-radius: 10px;
    color: black;
    font-family: 'TT Firs Neue Trl', sans-serif;
    border: #ffc628;
    font-size: 18px;
    text-align: center;
    padding: 13px 25px;
    box-sizing: border-box;
    display: inline-block;
    background: #ffc628;
    cursor: pointer;
    transition: all 0.2s all 0.2s cubic-bezier(0.52, 0.01, 0.16, 1);
    width: 600px;
    transition: 0.2s;
}

.yelo_bttn:hover{
    background: black;
    color: white;
    transition: 0.2s;
}

.move-up {
    transform: translateY(-20px);
}

