{% extends 'base.html' %}
{% block content %}

<div class="content inner_page">
    <div class="common_page_title">
        <h1>Xəbərlər</h1>
    </div>
    <div class="main_wrap">
        <ul class="new_list_totla">
            <li>
                <div class="news_1_desc">
                    <b>Bank-ın dəstəyi ilə Gəncədə Uşaqlar Günü qeyd edildi </b>
                    <p class="nonane"></p>
                    <div class="new_foot">
                        <a href="" class="arr_bttn"> hehghir0 </a>
                        <p class="time"> sabah</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}